Game Of Life

Es un juego donde hay varios tipos de celdas en un matriz y cada celda reaccion a las celdas circundantes
de una forma diferente segun las reglas del juego en cada generacion.

Args:
- Mapa a construir en array
- Dimenciones del mapa
- Numero de generaciones
- Segundos entre generacioes

Reglas:
-
-
-